@{
    ViewData["Title"] = "Home";
}


<body>
    <div>
        <p><a href="/Home/Projects">Company projects</a></p>
        <p><a href="/Home/EmployeesProjects">Company employees-projects</a></p>
    </div>
</body>
